.thumbnail {background-color: rgb(182, 219, 243);}
    body {margin-top: 33px;
    background-color:rgb(216, 255, 212);
  }

    .thumbnail .caption {background-color: rgb(247, 217, 240);}
    img {
        width:300px;
        height:300px;
        object-fit:fill;
      }